In [2]:
import numpy as np
import pandas as pd

In [3]:
import pandas as pd
print(pd.__path__)

['c:\\Users\\gilld\\anaconda3\\envs\\NN\\lib\\site-packages\\pandas']

In [4]:
print(pd.__version__)

1.3.5

In [5]:
df = pd.read_csv('bot_detection_data.csv')
df.head()

,User ID,Username,Tweet,Retweet Count,Mention Count,Follower Count,Verified,Bot Label,Location,Created At,Hashtags
0,132131,flong,Station activity person against natural majori...,85,1,2353,False,1,Adkinston,2020-05-11 15:29:50,NaN
1,289683,hinesstephanie,Authority research natural life material staff...,55,5,9617,True,0,Sanderston,2022-11-26 05:18:10,both live
2,779715,roberttran,Manage whose quickly especially foot none to g...,6,2,4363,True,0,Harrisonfurt,2022-08-08 03:16:54,phone ahead
3,696168,pmason,Just cover eight opportunity strong policy which.,54,5,2242,True,1,Martinezberg,2021-08-14 22:27:05,ever quickly new I
4,704441,noah87,Animal sign six data good or.,26,3,8438,False,1,Camachoville,2020-04-13 21:24:21,foreign mention

In [6]:
df.columns

Index(['User ID', 'Username', 'Tweet', 'Retweet Count', 'Mention Count',
       'Follower Count', 'Verified', 'Bot Label', 'Location', 'Created At',
       'Hashtags'],
      dtype='object')

In [7]:
df['Tweet'].head()

0    Station activity person against natural majori...
1    Authority research natural life material staff...
2    Manage whose quickly especially foot none to g...
3    Just cover eight opportunity strong policy which.
4                        Animal sign six data good or.
Name: Tweet, dtype: object

In [8]:
pd.set_option('display.max_colwidth', 500)
# Set the option to a value large enough to show longest tweet.
# Setting it to None or a very large number (e.g., 500) will work.
# 500 characters is usually enough for a tweet

In [9]:
df['Tweet'].head(1)

0    Station activity person against natural majority none few size expect six marriage.
Name: Tweet, dtype: object

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   User ID         50000 non-null  int64
 1   Username        50000 non-null  object
 2   Tweet           50000 non-null  object
 3   Retweet Count   50000 non-null  int64
 4   Mention Count   50000 non-null  int64
 5   Follower Count  50000 non-null  int64
 6   Verified        50000 non-null  bool
 7   Bot Label       50000 non-null  int64
 8   Location        50000 non-null  object
 9   Created At      50000 non-null  object
 10  Hashtags        41659 non-null  object
dtypes: bool(1), int64(5), object(5)
memory usage: 3.9+ MB

In [11]:

df['Bot Label'].isnull().sum()

0

In [12]:
df[df['Bot Label'] == 1]['Tweet'].head(10)

0     Station activity person against natural majority none few size expect six marriage.
3                                       Just cover eight opportunity strong policy which.
4                                                           Animal sign six data good or.
5                           See wonder travel this suffer less yard office man certainly.
7                                        Job phone price magazine worry stage check view.
9                Add letter year performance western what culture large development fast.
10                                         Through both practice point fear billion deep.
11                            Wonder accept edge enjoy top organization technology happy.
16                                            Approach result civil age including author.
18                             Range sell may science successful involve amount pressure.
Name: Tweet, dtype: object

In [13]:
# pd.reset_option('display.max_colwidth') # Reset to default value when done

In [14]:
df.size

550000

In [15]:
df.shape

(50000, 11)

In [16]:
df['Hashtags'].head(10)

0                                  NaN
1                            both live
2                          phone ahead
3                   ever quickly new I
4                      foreign mention
5    anyone respond perhaps market run
6                            president
7                 option husband admit
8                                  NaN
9                      available thing
Name: Hashtags, dtype: object

In [17]:
df[df['Bot Label'] == 1]['Hashtags'].head(10)

0                                   NaN
3                    ever quickly new I
4                       foreign mention
5     anyone respond perhaps market run
7                  option husband admit
9                       available thing
10                                  NaN
11                treat care eat author
16              about tough interesting
18                  cost form foot year
Name: Hashtags, dtype: object

In [18]:
df[df['Bot Label'] == 0]['Hashtags'].head(10)

1                  both live
2                phone ahead
6                  president
8                        NaN
12                       NaN
13    upon all direction fly
14     course difficult fine
15            today question
17              every author
19    control health do fact
Name: Hashtags, dtype: object

In [20]:
df['Hashtags'].isnull().sum()

8341