In [5]:
import os
os.environ['KAGGLE_USERNAME'] = 'dapinderkaurgill'
os.environ['KAGGLE_KEY'] = 'KGAT_63bb90732d1496c66276a16268144002'

In [6]:
import kaggle

In [7]:
!kaggle dataset download -d ahmadrazakashif/global-football-goalscorers-dataset

usage: kaggle [-h] [-v] [-W]
              {competitions,c,datasets,d,kernels,k,models,m,files,f,config,auth}
              ...
kaggle: error: argument command: invalid choice: 'dataset' (choose from competitions, c, datasets, d, kernels, k, models, m, files, f, config, auth)

In [8]:
import os
os.getcwd()

'c:\\Users\\gilld\\OneDrive\\Documents\\Projects\\Sports-Data-Analysis\\src'

In [9]:
#Downloading the full dataset and unzipping it to data folder
!kaggle datasets download -d ahmadrazakashif/global-football-goalscorers-dataset --unzip -p ./data

403 Client Error: Forbidden for url: https://api.kaggle.com/v1/datasets.DatasetApiService/GetDatasetMetadata

In [10]:
#Donwloading only result file
!kaggle datasets download -d ahmadrazakashif/global-football-goalscorers-dataset -f results.csv

403 Client Error: Forbidden for url: https://api.kaggle.com/v1/datasets.DatasetApiService/GetDatasetMetadata

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('results.csv', na_values =['NA', 'NaN', ''])

In [13]:
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [14]:
import sys
print(sys.executable)

c:\Users\gilld\anaconda3\envs\datascience\python.exe

In [15]:
df.head(20)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False
10,1879-01-18,England,Wales,2,1,Friendly,London,England,False
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False
12,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales,False
13,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland,False
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales,False
15,1880-03-27,Scotland,Wales,5,1,Friendly,Glasgow,Scotland,False
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England,False
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,False
18,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales,False
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Ireland,False

In [16]:
df['tournament'].unique()

array(['Friendly', 'British Home Championship', 'Évence Coppée Trophy',
       'Muratti Vase', 'Copa Lipton', 'Copa Newton',
       'Copa Premio Honor Argentino', 'Olympic Games',
       'Copa Premio Honor Uruguayo', 'Far Eastern Championship Games',
       'Copa Roca', 'Copa América', 'Inter-Allied Games', 'Peace Cup',
       'Open International Championship', 'Soccer Ashes',
       'Copa Chevallier Boutell', 'Nordic Championship',
       'Central European International Cup', 'Baltic Cup', 'Balkan Cup',
       'Central American and Caribbean Games', 'FIFA World Cup',
       'Copa Rio Branco', 'FIFA World Cup qualification',
       'Bolivarian Games', 'CCCF Championship', 'NAFC Championship',
       'Copa Oswaldo Cruz', 'Asian Games', 'Pan American Championship',
       'Copa del Pacífico', "Copa Bernardo O'Higgins",
       'AFC Asian Cup qualification', 'Atlantic Cup', 'AFC Asian Cup',
       'African Cup of Nations', 'Copa Paz del Chaco',
       'Merdeka Tournament', 'UEFA Euro qualification',
       'Southeast Asian Peninsular Games', 'African Friendship Games',
       'UEFA Euro', 'Windward Islands Tournament',
       'African Cup of Nations qualification', 'Vietnam Independence Cup',
       'Copa Carlos Dittborn', 'Phillip Seaga Cup',
       'CONCACAF Championship', 'Copa Juan Pinto Durán', 'Arab Cup',
       'South Pacific Games', 'Zambian Independence Tournament',
       'CONCACAF Championship qualification', 'Copa Artigas',
       'All-African Games', 'GaNEFo', 'Copa América qualification',
       "King's Cup", 'Gulf Cup', 'Indonesia Tournament', 'Korea Cup',
       'Palestine Cup', 'Brazil Independence Cup', 'Copa Ramón Castilla',
       'Oceania Nations Cup', 'CECAFA Cup', 'Kuneitra Cup',
       'Copa Félix Bogado', 'Real Madrid 75th Anniversary Cup',
       'Beijing International Friendship Tournament',
       'Southeast Asian Games', 'Kirin Cup',
       'CFU Caribbean Cup qualification', 'CFU Caribbean Cup',
       'Amílcar Cabral Cup', 'FIFA 75th Anniversary Cup',
       'Indian Ocean Island Games',
       'Guangzhou International Friendship Tournament', 'Mundialito',
       'South Pacific Mini Games', 'West African Cup', 'Nehru Cup',
       'Merlion Cup', 'Trans-Tasman Cup', 'Great Wall Cup',
       'South Asian Games', 'UDEAC Cup', 'Rous Cup',
       'CONMEBOL–UEFA Cup of Champions', 'Miami Cup',
       'Lunar New Year Cup', 'Arab Cup qualification',
       'Tournoi de France', 'Malta International Tournament',
       'Four Nations Tournament', 'Matthews Cup',
       'Tournament Burkina Faso', 'Marlboro Cup', 'Island Games',
       'NAFU Championship', 'Dynasty Cup', 'Dakar Tournament',
       'UNCAF Cup', 'Scania 100 Tournament', 'Gold Cup', 'USA Cup',
       'Jordan International Tournament', 'Confederations Cup',
       'East Asian Games', 'United Arab Emirates Friendship Tournament',
       'Joe Robbie Cup', 'Oceania Nations Cup qualification',
       'Simba Tournament', 'SAFF Cup', 'AFF Championship',
       'King Hassan II Tournament', 'Cyprus International Tournament',
       'Dunhill Cup', 'COSAFA Cup qualification', 'COSAFA Cup',
       'Gold Cup qualification', 'AFF Championship qualification',
       'SKN Football Festival', "Four Nations' Cup", 'UNIFFAC Cup',
       'WAFF Championship', 'Millennium Cup',
       'Cup of Ancient Civilizations', "Prime Minister's Cup",
       'Unity Cup', 'The Other Final', 'EAFF Championship',
       'TIFOCO Tournament', 'Afro-Asian Games', 'AFC Challenge Cup',
       'FIFI Wild Cup', 'ELF Cup', 'Viva World Cup',
       'AFC Challenge Cup qualification', "Coupe de l'Outre-Mer",
       'VFF Cup', 'Corsica Cup', 'Dragon Cup', 'ABCS Tournament',
       'Nile Basin Tournament', 'Nations Cup', 'Copa Confraternidad',
       'Pacific Games', 'Superclásico de las Américas',
       'Kirin Challenge Cup', 'Tynwald Hill Tournament', 'OSN Cup',
       'CONIFA World Football Cup', 'Niamh Challenge Cup',
       'CONIFA European Football Cup', 'Benedikt Fontana Cup',
       'ConIFA Challenger Cup', 'Hungary Heritage Cup', 'World Unity Cup',
       'Pacific Mini Games', 'Intercontinental Cup',
       'UEFA Nations League', 'CONCACAF Nations League qualification',
       'Atlantic Heritage Cup', 'Inter Games', 'CONCACAF Nations League',
       'Three Nations Cup', 'Mahinda Rajapaksa Cup', 'Navruz Cup',
       'CONIFA Africa Football Cup', 'CONIFA South America Football Cup',
       "MSG Prime Minister's Cup", 'Tri Nation Tournament',
       'CAFA Nations Cup', 'Mauritius Four Nations Cup',
       'CONIFA World Football Cup qualification', 'CONIFA Asia Cup',
       'FIFA Series', 'Marianas Cup', 'Tri-Nations Series',
       'ASEAN Championship qualification', 'ASEAN Championship',
       'EAFF Championship qualification', 'Mapinduzi Cup',
       'Canadian Shield', 'Outrigger Challenge Cup',
       'South Asian Super Cup'], dtype=object)

In [17]:
pd.isnull(df).sum()

date          0
home_team     0
away_team     0
home_score    0
away_score    0
tournament    0
city          0
country       0
neutral       0
dtype: int64

In [20]:
goals = pd.read_csv(r'C:\Users\gilld\OneDrive\Documents\Projects\Sports-Data-Analysis\src\data\goalscorers.csv', na_values=['NA', 'NaN', ''])

In [21]:
goals.head()

,date,home_team,away_team,team,scorer,minute,own_goal,penalty
0,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,44.0,False,False
1,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,55.0,False,False
2,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,70.0,False,False
3,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,75.0,False,False
4,1916-07-06,Argentina,Chile,Argentina,Alberto Ohaco,2.0,False,False

In [22]:
pd.isnull(goals).sum()

date           0
home_team      0
away_team      0
team           0
scorer        48
minute       256
own_goal       0
penalty        0
dtype: int64

In [23]:
goals['team'].unique()

array(['Uruguay', 'Argentina', 'Chile', 'Brazil', 'Paraguay',
       'Czechoslovakia', 'Turkey', 'Italy', 'Switzerland',
       'United States', 'Hungary', 'France', 'Netherlands',
       'Republic of Ireland', 'Egypt', 'Sweden', 'Belgium', 'Bolivia',
       'Peru', 'Luxembourg', 'Portugal', 'Germany', 'Yugoslavia', 'Spain',
       'Mexico', 'Latvia', 'Estonia', 'Lithuania', 'Romania', 'Poland',
       'Cuba', 'Haiti', 'Israel', 'Bulgaria', 'Austria', 'Norway',
       'Greece', 'Ecuador', 'Colombia', 'Scotland', 'Northern Ireland',
       'Finland', 'England', 'Wales', 'Saarland', 'Japan', 'South Korea',
       'Hong Kong', 'Vietnam Republic', 'Denmark', 'Costa Rica',
       'Guatemala', 'Sudan', 'Curaçao', 'Indonesia', 'German DR', 'Syria',
       'China PR', 'Iceland', 'Canada', 'Russia', 'Ghana', 'Nigeria',
       'Honduras', 'Suriname', 'Taiwan', 'Morocco', 'Tunisia', 'Cyprus',
       'Ethiopia', 'Uganda', 'Malta', 'El Salvador', 'Nicaragua',
       'Panama', 'Jamaica', 'Albania', 'India', 'Trinidad and Tobago',
       'Venezuela', 'DR Congo', 'Ivory Coast', 'Senegal', 'North Korea',
       'Australia', 'Algeria', 'Congo', 'Iran', 'Myanmar', 'Zambia',
       'Bermuda', 'Cameroon', 'Libya', 'Zimbabwe', 'Guinea', 'Kenya',
       'Mali', 'Togo', 'Kuwait', 'Cambodia', 'Iraq', 'Thailand',
       'Lesotho', 'Benin', 'Tanzania', 'Mauritius', 'Tahiti',
       'New Caledonia', 'New Zealand', 'Fiji', 'Vanuatu', 'Malaysia',
       'Niger', 'Sierra Leone', 'Burkina Faso', 'Mauritania',
       'Saudi Arabia', 'Singapore', 'Qatar', 'Bahrain',
       'Papua New Guinea', 'Solomon Islands', 'Gambia', 'Mozambique',
       'Malawi', 'Somalia', 'United Arab Emirates', 'Bangladesh',
       'Madagascar', 'Angola', 'Macau', 'Jordan', 'Yemen DPR', 'Brunei',
       'Yemen', 'Liberia', 'Oman', 'Gabon', 'Pakistan', 'Faroe Islands',
       'San Marino', 'Puerto Rico', 'Dominican Republic', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Barbados',
       'Antigua and Barbuda', 'Guyana', 'Burundi', 'Eswatini',
       'South Africa', 'Botswana', 'Czech Republic', 'Vietnam', 'Lebanon',
       'Martinique', 'Liechtenstein', 'Croatia', 'Moldova',
       'North Macedonia', 'Slovenia', 'Belarus', 'Slovakia', 'Ukraine',
       'Georgia', 'Azerbaijan', 'Armenia', 'Dominica', 'Aruba', 'Grenada',
       'Serbia', 'Saint Kitts and Nevis', 'Guinea-Bissau', 'Namibia',
       'Belize', 'Rwanda', 'Sri Lanka', 'Bosnia and Herzegovina', 'Tonga',
       'Samoa', 'Cook Islands', 'Uzbekistan', 'Nepal', 'Tajikistan',
       'Turkmenistan', 'Kazakhstan', 'Kyrgyzstan', 'Andorra', 'Bahamas',
       'Anguilla', 'British Virgin Islands', 'Montserrat',
       'United States Virgin Islands', 'Djibouti', 'Seychelles',
       'São Tomé and Príncipe', 'Equatorial Guinea',
       'Central African Republic', 'Mongolia', 'Palestine', 'Maldives',
       'Philippines', 'Laos', 'Chad', 'Cape Verde', 'Cayman Islands',
       'American Samoa', 'Guadeloupe', 'Comoros', 'Timor-Leste',
       'Afghanistan', 'Turks and Caicos Islands', 'Montenegro', 'Eritrea',
       'Bhutan', 'Gibraltar', 'Guam', 'South Sudan', 'Kosovo',
       'French Guiana'], dtype=object)

In [24]:
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [25]:
df.rename(columns={'home_team':'team'}, inplace=True)

#inplace=True means the changes are made in the original dataframe itself

In [26]:
df.head()

,date,team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [27]:
df.columns = df.columns.str.lower()

In [28]:
df.columns = df.columns.str.replace(' ', '_')

In [29]:
df.columns

Index(['date', 'team', 'away_team', 'home_score', 'away_score', 'tournament',
       'city', 'country', 'neutral'],
      dtype='object')

In [30]:
df['team_win'] = df['home_score'] > df['away_score']
# New column 'team_win' added to indicate if the home team won

In [31]:
df.columns

Index(['date', 'team', 'away_team', 'home_score', 'away_score', 'tournament',
       'city', 'country', 'neutral', 'team_win'],
      dtype='object')

In [32]:
df.head()

,date,team,away_team,home_score,away_score,tournament,city,country,neutral,team_win
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,True
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,True
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,True

In [33]:
df.dtypes

date          object
team          object
away_team     object
home_score     int64
away_score     int64
tournament    object
city          object
country       object
neutral         bool
team_win        bool
dtype: object

In [34]:
#convert date to date dtype
df['date'] = pd.to_datetime(df['date'], format="%Y-%m-%d")

In [35]:
df.dtypes

date          datetime64[ns]
team                  object
away_team             object
home_score             int64
away_score             int64
tournament            object
city                  object
country               object
neutral                 bool
team_win                bool
dtype: object

In [36]:
#drop unwantsed columns
df.drop(columns=['neutral'], inplace=True)
#inplace=True means the changes are made in the original dataframe itself

In [37]:
import sqlalchemy as sqal

In [38]:
import sys
print(sys.executable)

c:\Users\gilld\anaconda3\envs\datascience\python.exe

In [39]:

# import mysql.connector

In [40]:
from password import password_sql_server, encoded_password

In [41]:
# print(type(password_sql_server))

In [42]:
# try:
#     mydb = mysql.connector.connect(
#         host="127.0.0.1",
#         user="root",
#         passwd=password_sql_server,      
#         port=3307  
#     )
# except mysql.connector.Error as err:
#     print(f"Error: {err}")

In [43]:
# import mysql.connector

# cnx = mysql.connector.connect(user='root', password=password_sql_server,
#                               host='127.0.0.1',
#                               database='data', 
#                               port=3307)
# cnx.close()

In [44]:
# mydb = mysql.connector.connect(host="localhost", user="root", passwd=password_sql_server, port=3307, database="data")

In [45]:
# mycursor = mydb.cursor()

In [46]:
# mycursor.execute("select * from match_data")
# for i in mycursor:
#     print(i)

In [47]:
import sqlalchemy as sqal
engine = sqal.create_engine(f'mysql+mysqlconnector://root:{encoded_password}@127.0.0.1:3307/data')
conn = engine.connect()

In [48]:
df.to_sql('match_data', con=conn, if_exists='replace', index=False, method='multi')
# index false means that the index column of the dataframe will not be written to the SQL table

48673

In [49]:
# method multi is used to insert multiple records in a single query for better performance, 
# for example, inserting 1000 records at a time instead of one by one
# such as INSERT INTO match_data (col1, col2) VALUES (val1a, val2a), (val1b, val2b), ... ;
# instead of INSERT INTO match_data (col1, col2) VALUES (val1a, val2a);